<html lang="fr">

<head>
    <link rel="stylesheet" href="/css/nav-style.css" >
</head>

<body>
<div id="nav">
    <a href="{{ url_for('categorie') }}">GiftBox</a>
    <a href="{{ url_for('categorie') }}">Categories</a>
    <a href="{{ url_for('prestations') }}">Prestations</a>
    <a href="{{ url_for('newEmptyBox') }}">Créer une box</a>
    <a href="{{ url_for('myBox') }}">Ma Box en cours</a>
    <a href="{{ url_for('mesBox') }}">Mes Box</a>
    <a href="{{ url_for('premadeBox') }}">Box préremplies</a>
    <a href="{{ url_for('newUser') }}">Inscription</a>
    <a href="{{ url_for('login') }}">Connexion</a>
    <a href="{{ url_for('logout') }}">Deconnexion</a>
</div>
</body>