{% extends "./main/gift.main.twig" %}

{% block title %}Box{% endblock %}

{% block content %}
    <h1>Libelle : {{ box.libelle }}</h1>
    <p>Description : {{ box.description }}</p>
    {% if box.kdo==true %}
        {{ box.message_kdo }}
    {% endif %}

    {% if box.kdo==false %}
        <p>Prix total : {{ box.montant }}</p>
    {% endif %}
    <br>
    <h2>Prestations : </h2>
    {% for presta in prestations %}
        <p>Prestation : {{ presta.libelle }}</p>
        {% if box.kdo==false %}
            <p>Prix : {{ presta.tarif }}</p>
        {% endif %}
        <p>Quantite : {{ presta.pivot.quantite }}</p>
        <br>
    {% endfor %}
    {% if not box.user_email %}
        <a href="{{ url_for('newCoffretPrefilled', {}, {id: box.id}) }}">Créer un coffret prérempli</a>
    {% endif %}
    {% if box.user_email %}
        {% if box.statut==2 %}
            <a href="{{ url_for('pay', {}, {id: box.id}) }}">Payer</a>
        {% elseif box.statut==3 %}
            <a href="{{ url_for('usedBox', {}, {id: box.id}) }}">Utiliser la box</a>
        {% elseif box.statut==4 %}
            <p>Votre box a déjà été activée, vous pouvez à présent l'utiliser</p>
        {% endif %}
    {% endif %}
{% endblock %}