{% extends "./main/gift.main.twig" %}

{% block title %}Ma box{% endblock %}

{% block content %}
    <h1>Libelle : {{ box.libelle }}</h1>
    <p>Description : {{ box.description }}</p>
    <p>Prix total : {{ box.montant }}</p>
    <p>Etat : {{ status }}</p>
    <br>
    <h2>Prestations : </h2>
    {% for presta in prestations %}
        <p>Prestation : {{ presta.libelle }}</p>
        <p>Prix : {{ presta.tarif }}</p>

        <form action='{{ url_for('chooseNumberPrestationToBox',{}, {id: presta.id}) }}' method="post">
            <label>Choisir nombre de prestation</label>
            <select name="nbr" id="box-select">
                {% for i in range(0, 10) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <button type="submit">Ajouter la prestation</button>
        </form>
        <p>Quantite : {{ presta.pivot.quantite }}</p>
        <a href="{{ url_for('deletePresta', {}, {id: presta.id}) }}">Supprimer la prestation</a>
        <br>
    {% endfor %}
    <br>
    <a href="{{ url_for('prestations') }}">Ajouter des prestations</a>
    <a href="{{ url_for('validateBox', {}, {}) }}">Valider la box</a>
{% endblock %}