{% extends "./main/gift.main.twig" %}

{% block title %}Création d'une box vide{% endblock %}

{% block content %}
    <form method="post">
        <div>
            <label>Nom</label>
            <input type="text" name="libelle" value="{{ box.libelle }}" required>
        </div>
        <div>
            <label>Description</label>
            <input type="text" name="description" value="{{ box.description }}" required>
        </div>
        <div>
            <label>Cadeau ?</label>
            <div>
                <input type="radio" id="choiceYes"
                       name="cadeau" value="oui" required>
                <label for="choiceYes">Oui</label>

                <input type="radio" id="choiceNo"
                       name="cadeau" value="non" required>
                <label for="choiceNo">Non</label>
            </div>
        </div>
        <div>
            <label>Message en cas de cadeau</label>
            <input type="text" name="message" value="{{ box.message_kdo }}">
        </div>
        <br>
        <input type="hidden" name="csrf" value="{{ csrf }}">
        <input type="hidden" name="box" value="{{ box.id }}">
        <input type="submit" value="Envoyer">
    </form>
{% endblock %}
