{% extends "gift.main.twig" %}

{% block title %}Prestation {{ prestation.id }}{% endblock %}

{% block content %}
    <h1>Prestation : {{ prestation.libelle }}</h1>
    <p>Description : {{ prestation.description }}</p>
    <p>Tarif : {{ prestation.tarif }}</p>
    <p>Contenu : {{ prestation.unite }}</p>
    <img src="../../shared/img/{{ prestation.img }}" width="1000">
{% endblock %}