{% extends "gift.main.twig" %}

{% block title %}Prestations{% endblock %}

{% block content %}
    <h1>Prestations</h1>
    {% for presta in prestations %}
        <h1>{{ presta.libelle }}</h1>
        <p>{{ presta.description }}</p>
        <p>{{ presta.tarif }}</p>
        <p>{{ presta.unite }}</p>
        <p>{{ presta.id }}</p>
        <li><a href="{{ url_for('prestation', {}, { 'id': presta.id }) }}">Lien vers la prestation</a></li>
        <p>----------------</p>
    {% endfor %}
{% endblock %}